* {
    font-family: sans-serif, 'popins';
    font-weight: 500;
  }

  body {
    background-image: url('../resources/signup-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 22px;
    margin: 0;
    padding: 0;
    color: white;
  }

  h1 {
    text-align: center;
    text-decoration: underline;
    font-weight: 600;
  }

  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    width: 90%;
  }

  .search-container {
    font-size: 25px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .search-container input {
    color: rgba(255, 255, 255, 0.9);
    font-size: 23px;
    font-weight: 600;
    height: 35px;
    width: 70%;
    padding-top: 4px;
    margin-bottom: 2px;
    margin-top: 5px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(120px);
    -webkit-backdrop-filter: blur(120px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
    animation-duration: 2s;
    transition: all 0.3s ease;
    text-align: center;
  }

  input:hover {
    transform: scale(1.1);
  }

  input:focus {
    transform: scale(1.1);
  }

  .search-container input::-webkit-inner-spin-button,
  .search-container input::-webkit-outer-spin-button { /*disable the arrows on the input bar that have numbers*/
    -webkit-appearance: none;
    margin: 0;
    display: none;
  }

  input::placeholder { /* text inside input box edit*/
    text-align: center;
    color: white;
    font-size: 22px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    text-align: left;
    padding: 16px;
  }

  thead {
    background-color: transparent;
    font-weight: 600;
    font-size: 30px;
  }

  tbody tr:nth-child(even) {
    background-color: transparent;
  }

  tr {
    font-size: 22px;
    border-bottom: rgba(255, 255, 255, 0.1);
  }

  @media (max-width: 900px) { /* responsivnes */
    .search-container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-items: stretch;
      width: 280px;
      margin: 0 auto;
    }

    .search-container input { /*  inputs css for inputs in cointainer*/
      margin: 5px 0;
    }
  }