body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: linear-gradient(to top left, #0f1113, #41464d, #161717); /* Set your gradient colors */
}
nav {
  background-color: #1f1f1f;
  border-bottom: solid 2px white;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-logo img {
  width: 270px;
  max-width: 20%;
  margin: 0;
  margin-left: 1%;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  margin: 0 2%;
  flex-grow: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  min-width: 0;
}

.nav-bar {
  margin-top: 5px;
  width: 200%;
  display: flex;
  font-size: 22px;
  font-weight: bold;
  flex-grow: 1;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  margin: 0 0;
  flex-grow: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  min-width: 0;
}

@media (max-width: 768px) {
  .nav-bar {
    font-size: 16px;
  }
  
  .nav-bar a {
    flex-grow: 1;
  }
}

.text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 25px;
}

.footer-logo img {
  width: 10%;
}

/*---------------coins banner css---------------*/

.banner-container{
  /* border: solid 2px red; */
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  color: white;
}
.coin-price{
  /* border: solid 2px magenta; */
  display: flex;
  align-items: center;
}
.container .coin-price{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc;
  margin: 7px;
}

.banner-container .coin-price .logo{
  width: 70px;
  margin-right: 10px;
}
.banner-container .coin-price .logo img{
  width: 50%;
  display: flex;
  margin-left: 35px;
}
.banner-container .coin-price div{
  display: block;
  
}
.banner-container .coin-price div h1{
  font-size: 20px;
}

/*---------------footer---------------*/
/* Footer container */
footer {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-top: solid 3px white;
  color: white;
}

/* Social media section */
.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px; /* Set the desired width of your container */
  height: 200px; /* Set the desired height of your container */
  overflow: hidden; /* Hide any overflowing content */


}

.social-media p {
  margin: 0;
}

.social-buttons-frame {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-buttons-frame a {
  display: inline-block;
  margin-right: 10px;
}

/* Contact form section */
.contact-form {
  text-align: center;
  margin-bottom: 20px;
  max-width: 200px;
}

.contact-form h3 {
  margin: 0;
}

.footer-form {
  margin-top: 10px;
}

.footer-form input,
.footer-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.footer-form button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

/* Main branch section */
.main-branch-text {
  text-align: center;
  margin-bottom: 20px;
}

/* Maps iframes */
.iframe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.iframe iframe {
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
}
.social-media img{
  max-width: 100%; /* Ensure the image doesn't exceed the container's width */
  max-height: 100%; /* Ensure the image doesn't exceed the container's height */
}

.social{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  justify-content: space-evenly;
}
