body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: linear-gradient(to top left, #002769, #023070, #3c0173); /* Set your gradient colors */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
nav {
  background-color: #1f1f1f;
  border-bottom: solid 2px white;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.nav-logo img {
  width: 270px;
  max-width: 20%;
  margin: 0;
  margin-left: 1%;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  margin: 0 2%;
  flex-grow: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  min-width: 0;
}

.nav-bar {
  margin-top: 5px;
  width: 100%;
  display: flex;
  font-size: 22px;
  font-weight: bold;
  flex-grow: 1;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  margin: 0 0;
  flex-grow: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  min-width: 0;
}

@media (max-width: 768px) {
  .text-box{
    font-size: 12px;
  }
  .nav-bar {
    font-size: 16px;
  }
  
  .nav-bar a {
    flex-grow: 1;
  }
}

@media (max-width: 480px) {
  .text-box{
    font-size: 10px;
  }
  .nav-bar {
    font-size: 9px;
  }
  
  .nav-bar a {
    flex-grow: 1;
  }
}
@media (max-width: 300px) {
  .text-box{
    font-size: 9px;
  }
  .nav-bar {
    font-size: 8px;
  }
  
  .nav-bar a {
    flex-grow: 1;
  }
}

.text-box {
  font-size: 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  padding: 5px;
  width: 65%;
  margin-top: 90px;
  margin-bottom:220px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  /* backdrop-filter: blur(10px); */
  /* -webkit-backdrop-filter: blur(10px); */
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
h1 {
  font-size: 50px;
}

h2 {
  font-size: 25px;
}

.footer-logo img {
  width: 10%;
}
}
/*---------------footer---------------*/
/* Footer container */
footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-top: solid 3px white;
  color: white;
}
.social{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Social media section */
.social-media {
  width: 100%; /* Set the desired width of your container */
  max-width: 700px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  /* backdrop-filter: blur(10px); */
  /* -webkit-backdrop-filter: blur(10px); */
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

}

.social-media p {
  margin: 0;
  font-size: 20px;
  font-weight: 550;
}

.social-buttons-frame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-buttons-frame a {
  width: 10%;
  margin-left: 20px;
}

/* Contact form section */
.contact-form {
  text-align: center;
  margin-bottom: 20px;
  max-width: 350px;
}

.footer-form {
  margin-top: 10px;
}

.footer-form input,
.footer-form textarea {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  /* backdrop-filter: blur(10px); */
  /* -webkit-backdrop-filter: blur(10px); */
  text-align: center;
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.footer-form button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

/* Main branch section */
.main-branch-text {
  text-align: center;
  margin-bottom: 20px;
}

/* Maps iframes */
.iframe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.iframe iframe {
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
}
.social-media img{
  flex-grow: 1;
  width: 100%;
}

.tradingview-widget-copyright {
  font-size: 13px !important;
  line-height: 32px !important;
  text-align: center !important;
  vertical-align: middle !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
  color: #9db2bd !important;
  display: none !important;
}

.home-graph-container{
margin-bottom: 50px;
width: 100%;
max-width: 1000px;
}