<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
  <link rel="stylesheet" type="text/css" href="styles/about.css">
</head>
<body>
  <div class="container">
    <div class="content">
    <h1>About Kanoni Coin and the Kanoni-Coin Vision</h1>

    <div class="text">
      <p>Welcome to Kanoni Coin, your trusted destination for all things related to cryptocurrencies and blockchain technology. We aim to provide a seamless and secure platform for buying, selling, and trading cryptocurrencies, as well as access to valuable information and resources for crypto enthusiasts.</p>
      
      <h2>Our Mission</h2>
      <p>At Kanoni Coin, our mission is to empower individuals and businesses to participate in the digital economy by offering a wide range of cryptocurrencies and services. We believe that cryptocurrencies and blockchain technology have the potential to revolutionize finance and various industries, and we are dedicated to helping our customers navigate this exciting and evolving landscape.</p>
      
      <h2>Why Choose Kanoni Coin?</h2>
      <p>When it comes to cryptocurrency transactions, security, reliability, and transparency are of utmost importance. Here's why you should choose Kanoni Coin:</p>
      
      <ul>
        <li><strong>Security:</strong> We employ industry-leading security measures to safeguard your funds and personal information.</li>
        <li><strong>User Experience:</strong> Our platform is designed with simplicity and ease of use in mind, ensuring a smooth and intuitive experience for our customers.</li>
        <li><strong>Wide Selection:</strong> We offer a diverse selection of cryptocurrencies to cater to different investment preferences.</li>
        <li><strong>Knowledge Hub:</strong> Access our educational resources and stay up-to-date with the latest trends and insights in the crypto industry.</li>
        <li><strong>Customer Support:</strong> Our dedicated support team is available around the clock to assist you with any questions or concerns.</li>
      </ul>

      <h2 style="text-align: center;">Our Team Of Experts</h2>
    <div class="team-container">
      <div class="team-box">
        <div class="team-img">
          <img src="resources/alon.jpg">
        </div>
        <div class="team-name">CEO</div>
      </div>
      <div class="team-box">
        <div class="team-img">
          <img src="resources/ofir.jpg">
        </div>
        <div class="team-name">Lead financial advisor</div>
      </div>
      <div class="team-box">
        <div class="team-img">
          <img src="resources/eliran.jpg">
        </div>
        <div class="team-name">Head of securities maneger</div>
      </div>
    </div>
      
      <h2>Contact Us</h2>
      <div class="contact-info">
        <p>Email: kanonicoin@gmail.com</p>
        <p>Phone: 052-5381648</p>
      </div>
    </div>
  </div>
  </div>
</body>
</html>
