<!DOCTYPE html>
<html>

<head>
  <title>Add Coin</title>
  <link rel="stylesheet" href="styles/addCoin.css">
</head>

<div class="image">

  <body>
    <div class="wrapper">
      <div class="container">
        <form id="coinForm" action="/addCoin" method="POST">
          <input type="text" id="coinName" name="CoinName" placeholder="Coin Name" required><br><br>
          <input type="text" id="price" name="Price" placeholder="Coin Price In USD" required><br><br>
          <div class="button">
            <label for="recommended">
              Recommended:
              <input type="checkbox" id="recommended" name="Recommended" value="true">
            </label><br><br>
          </div>
          <div class="button">
            <label for="altCoin">
              Alt Coin:
              <input type="checkbox" id="altCoin" name="AltCoin" value="true">
            </label><br><br>
          </div>
          <div class="button">
            <label for="proofOfWork">
              Proof of Work:
              <input type="checkbox" id="proofOfWork" name="ProofOfWork" value="true">
            </label><br><br>
          </div>
          <input type="text" id="imageOfCoin" name="ImageOfCoin" placeholder="Coin Picture" required><br><br>
          <input type="submit" value="Add Coin" id="add-coin-button">
        </form>
        <div class="conformation" style="display: none;">
          <p>Coin Added Successfully<br>and <span style="color: blue; font-weight: 700;">Tweeted</span> to customers.
          </p>

        </div>
      </div>

    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>

    // Clear all input fields
    function clearFields() {
      $('#coinName').val('');
      $('#price').val('');
      $('#recommended').prop('checked', false);
      $('#altCoin').prop('checked', false);
      $('#proofOfWork').prop('checked', false);
      $('#imageOfCoin').val('');
    }

    // Event listener for the form submission
    $('#coinForm').submit(function (e) {
      e.preventDefault();

      // Get the form data
      var formData = $(this).serialize();

  // Send a POST request to the server
  $.post('/addCoin', formData, function(response) {
    if (response.coinAdded) {
      // Show the confirmation message
      // $('.container').hide();
      $('.conformation').show();

      clearFields();
    }
  }).fail(function(error) {
    console.error('Error adding coin:', error);
  });
});
  </script>

</div>

</html>