<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="styles/editbalance.css">
</head>

<body>
  <div class="container">
    <h1 style="text-decoration: underline; margin-top: -2px;">Hello <span id="userName"></span>!</h1>
    <h1 style="font-size: 20px;">Here you can deposit and Withdraw funds at your own desecration</h1>
    <p>Your current balance is: <span id="balance"></span>$</p>

    <label for="addAmount" style="color: rgb(65, 255, 65);">Add Amount:</label>
    <input type="number" id="addAmount" step="0.01">
    <button id="addMoney">Add Money</button>

    <br><br>

    <label for="withdrawAmount" style="color: rgb(255, 42, 42);">Withdraw Amount:</label>
    <input type="number" id="withdrawAmount" step="0.01">
    <button id="withdrawMoney">Withdraw Money</button>
  </div>

  <script>
    $(document).ready(function () {
      const firstName = sessionStorage.getItem('firstName');

      updateBalanceDisplay(firstName);

      async function fetchUserBalance(username) {
        try {
          const response = await fetch(`/user/balance?username=${username}`);
          const data = await response.json();
          if (response.ok) {
            return data;
          } else {
            console.error('Error fetching user balance:', data.error);
            return null;
          }
        } catch (error) {
          console.error('Error fetching user balance:', error);
          return null;
        }
      }

      // Update the balance display
      async function updateBalanceDisplay(username) {
        const balanceElement = document.getElementById('balance');
        const response = await fetchUserBalance(username);
        if (response !== null) {
          if (response.error) {
            console.error('Error fetching user balance:', response.error);
            balanceElement.innerText = 'N/A';
          } else {
            const formattedBalance = formatBalance(response);
            balanceElement.innerText = formattedBalance;
          }
        } else {
          balanceElement.innerText = 'N/A';
        }
      }

      // Function to format the balance with commas and two decimal places
      function formatBalance(balance) {
        const parts = balance.toFixed(2).toString().split('.');
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',');
        return parts.join('.');
      }

      // Update the HTML content with the customer's first name
      $('#userName').text(firstName);

      // Add event listener for "Add Money" button click
      $('#addMoney').click(function () {
        const addAmount = parseFloat($('#addAmount').val());
        if (!isNaN(addAmount) && addAmount > 0) {
          const newBalance = getCurrentBalance() + addAmount;
          updateBalance(firstName, newBalance);
        } else {
          console.error('Invalid amount');
        }
      });

      // Event listener for Withdraw Money button click
      $('#withdrawMoney').click(function () {
        const withdrawAmount = parseFloat($('#withdrawAmount').val());
        if (!isNaN(withdrawAmount) && withdrawAmount > 0) {
          const currentBalance = getCurrentBalance();
          if (withdrawAmount <= currentBalance) {
            const newBalance = currentBalance - withdrawAmount;
            updateBalance(firstName, newBalance);
          } else {
            console.error('Insufficient balance');
          }
        } else {
          console.error('Invalid amount');
        }
      });

      // Function to retrieve the current balance from the UI
      function getCurrentBalance() {
        const balanceElement = document.getElementById('balance');
        return parseFloat(balanceElement.innerText);
      }

      // Function to show a success message
      function showSuccessMessage(message) {
        alert(message);
        clearInputFields();
      }

      // Function to clear the input fields
      function clearInputFields() {
        $('#addAmount').val('');
        $('#withdrawAmount').val('');
      }

      // Function to update the balance
      async function updateBalance(username, balance) {
        try {
          const response = await fetch('/user/balance', {
            method: 'PATCH',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ username, balance }),
          });
          const data = await response.json();
          if (response.ok) {
            console.log('User balance updated successfully');
            updateBalanceDisplay(username);
            showSuccessMessage('Balance updated successfully');
          } else {
            console.error('Error updating user balance:', data.error);
          }
        } catch (error) {
          console.error('Error updating user balance:', error);
        }
      }
    });
  </script>
</body>

</html>