<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="styles/signup.css">
</head>
<div class="image">
<body>
    <div class="wrapper">
    <div class="container">
        <form action="http://localhost:3300/addUser" method="post">
            <input type="text" name="FirstName" placeholder="First name" required><br><br>
            <input type="text" name="LastName" placeholder="Last name" required><br><br>
            <input type="text" name="Username" placeholder="Username" required><br><br>
            <input type="password" name="Password" placeholder="Password" required><br><br>
            <input type="number" name="Balance" placeholder="    Cash Balance" required><br><br>
            <input type="submit" value="Sign Up" id="signup-button">
        </form>
        <p>Already have an account? <a href="/loginPage">log in here</a></p>
        <br>
        <p style="font-size: 16px;">Go back to <a href="/">Home page</a></p>
    </div>
</div>
</body>
</div>
<script>
    window.addEventListener('DOMContentLoaded', () => {
        const inputFields = document.querySelectorAll('input[type="text"], input[type="password"], input[type="number"]');
        
        inputFields.forEach(field => {
            field.addEventListener('focus', () => {
                field.placeholder = '';
            });
            
            field.addEventListener('blur', () => {
                if (!field.value) {
                    field.placeholder = field.name;
                }
            });
        });
    });
</script>
</html>
