<!DOCTYPE html>
<html>

<head>
  <title>Knoni exchange</title>
  <style>
    body{
    }
    h1 {
  text-align: center;
  background-color: #007bff; /* Replace with your preferred color */
  color: #fff; /* Replace with your preferred text color */
  padding: 20px;
  font-family: 'Arial', sans-serif; /* Use a preferred font */
  font-size: 36px;
  font-weight: bold;
}
    /* Set a fixed width and height for the coin images */
    td img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    .search-filters {
  justify-content: center;
  display: flex;
  gap: 10px;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
}

.search-filters label {
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  width: 100px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: center; /* Center align the table content */
  padding: 8px;
}

thead {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

    .operations {
      text-align: center;
      font-weight: bold;
    }

    .buy-sell-column {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .buy-button {
  background-color: #5cb85c; /* Replace with your preferred color for buy */
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.sell-button {
  background-color: #d9534f; /* Replace with your preferred color for sell */
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}
  </style>
</head>

<body>
  <h1 style="text-align:center;">Kanoni Coin Exchange</h1>
  <p style="text-align:center;">Current cash balance: <span id="balance">-</span>$</p>

  <div class="search-filters">
    <div>
      <label for="searchInput">Search:</label>
      <input type="text" id="searchInput" oninput="filterCoins()" placeholder="Search by coin name">
    </div>

    <div>
      <label for="maxPriceInput">Max Price:</label>
      <input type="number" id="maxPriceInput" oninput="filterCoins()" step="0.01" placeholder="Enter max price">
    </div>

    <div>
      <label for="recommendedInput">Recommended:</label>
      <input type="checkbox" id="recommendedInput" onclick="filterCoins()">
    </div>

    <div>
      <label for="altCoinInput">Alt Coin:</label>
      <input type="checkbox" id="altCoinInput" onclick="filterCoins()">
    </div>

    <div>
      <label for="proofOfWorkInput">Proof of Work:</label>
      <input type="checkbox" id="proofOfWorkInput" onclick="filterCoins()">
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Coin Name</th>
        <th>Price</th>
        <th>Recommended</th>
        <th>Alt Coin</th>
        <th>Proof of Work</th>
        <th class="operations" colspan="2">Operations</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody id="coinTableBody">
      <!-- Coins will be dynamically added here -->
    </tbody>
  </table>




  <script>

    // const urlParams = new URLSearchParams(window.location.search);
    // const firstName = urlParams.get('firstName');

    const firstName = sessionStorage.getItem('firstName');

    // Call the updateBalanceDisplay function with the username
    updateBalanceDisplay(firstName);

    async function fetchUserBalance(username) {
      try {
        const response = await fetch(`/user/balance?username=${username}`);
        const balance = await response.json();
        return balance;
      } catch (error) {
        console.error('Error fetching user balance:', error);
        return null;
      }
    }
    // Update the balance display
    async function updateBalanceDisplay(username) {
      const balanceElement = document.getElementById('balance');
      const balance = await fetchUserBalance(username);
      if (balance !== null) {
        balanceElement.innerText = balance.toFixed(5);
      } else {
        balanceElement.innerText = 'N/A';
      }
    }

    // Object to store coin names by ID
    const coinNames = {};
    // Function to fetch coins from the backend and populate the table
    async function fetchCoins() {
      try {
        const response = await fetch('/coins');
        const coins = await response.json();

        // Sort the coins by largest price to lowest
        coins.sort((a, b) => b.Price - a.Price);

        const coinTableBody = document.getElementById('coinTableBody');

        // Iterate over the coins and create table rows dynamically
        coins.forEach((coin) => {
          const row = document.createElement('tr');
          row.innerHTML = `
            <td><img src="${coin.ImageOfCoin}" alt="Coin Image"></td>
            <td>${coin.CoinName}</td>
            <td id="${coin._id}Price">${coin.Price}</td>
            <td>${coin.Recommended}</td>
            <td>${coin.AltCoin}</td>
            <td>${coin.ProofOfWork}</td>
            <td>
              <input class="buy-input" type="text" placeholder="Amount">
              <button class="buy-button" onclick="performTrade(this, '${coin._id}', 'buy')">Buy</button>
            </td>
            <td>
              <input class="sell-input" type="text" placeholder="Amount">
              <button class="sell-button" onclick="performTrade(this, '${coin._id}', 'sell')">Sell</button>
            </td>
            <td id="${coin._id}Amount">-</td> <!-- New column -->
          `;

          coinTableBody.appendChild(row);

          // Store coin names by ID for reference in purchased coins table
          coinNames[coin._id] = coin.CoinName;
        });

        updateCoinAmounts(firstName);

      } catch (error) {
        console.error('Error fetching coins:', error);
      }
    }

    // Function to perform the trade based on the selected action (buy/sell)
    async function performTrade(button, coinId, action) {
      const input = action === 'buy' ? button.parentNode.querySelector('.buy-input') : button.parentNode.querySelector('.sell-input');
      const amount = parseFloat(input.value);

      if (!isNaN(amount) && amount > 0) {
        const price = parseFloat(document.getElementById(`${coinId}Price`).innerText);

        if (action === 'buy') {
          const balanceElement = document.getElementById('balance');
          const balance = parseFloat(balanceElement.innerText);
          const totalPrice = price * amount;

          if (totalPrice <= balance) {
            buyCoin(coinId, price, amount);
          } else {
            alert('Insufficient balance to perform the purchase.');
          }
        } else if (action === 'sell') {
          try {
            const response = await fetch('/getOwnedAmount', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({
                CoinName: coinNames[coinId],
                UserName: urlParams.get('firstName'),
              }),
            });

            if (response.ok) {
              const data = await response.json();
              const ownedAmount = data.amount;

              if (amount <= ownedAmount) {
                sellCoin(coinId, price, amount);
              } else {
                alert('You do not own enough coins to sell.');
              }
            } else {
              throw new Error('Failed to retrieve owned amount.');
            }
          } catch (error) {
            console.error('Error retrieving owned amount:', error);
            alert('An error occurred while retrieving your owned amount. Please try again later.');
          }
        }

        // Clear the amount input field
        input.value = '';
      }
    }

    async function buyCoin(coinId, price, amount) {
      const totalPrice = price * amount;
      const username = urlParams.get('firstName');

      if (confirm('Are you sure you want to buy?')) {
        const response = await fetch('/addTrade', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            CoinName: coinNames[coinId],
            Amount: amount,
            Value: totalPrice,
            UserName: username,
          }),
        });

        if (response.ok) {
          alert('Trade confirmed.');
          location.reload(); // Refresh the page
        } else {
          alert('Failed to perform the purchase.');
        }
      } else {
        // User canceled the trade
        alert('Trade canceled.');
      }
    }

    async function sellCoin(coinId, price, amount) {
      const totalPrice = price * amount;
      const username = urlParams.get('firstName');

      if (confirm('Are you sure you want to sell?')) {
        const response = await fetch('/reduceTrade', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            CoinName: coinNames[coinId],
            Amount: amount,
            Value: totalPrice,
            UserName: username,
          }),
        });

        if (response.ok) {
          alert('Trade confirmed.');
          location.reload(); // Refresh the page
        } else {
          alert('Failed to perform the sale.');
        }
      } else {
        // User canceled the trade
        alert('Trade canceled.');
      }
    }

    async function updateBalance(username, balance) {
      try {
        const response = await fetch('/user/balance', {
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            username: username,
            balance: balance,
          }),
        });

        if (!response.ok) {
          throw new Error('Failed to update user balance');
        }
      } catch (error) {
        console.error('Error updating user balance:', error);
      }
    }

    async function updateCoinAmounts(username) {
      try {
        const response = await fetch(`/user/coin-amounts?username=${username}`);
        const coinAmounts = await response.json();

        // Iterate over the coin amounts object
        for (const coinName in coinAmounts) {
          const coinAmount = coinAmounts[coinName];
          const coinId = Object.keys(coinNames).find(key => coinNames[key] === coinName);
          const amountCell = document.getElementById(`${coinId}Amount`);

          if (amountCell) {
            amountCell.textContent = coinAmount.toFixed(2);
          }
        }
      } catch (error) {
        console.error('Error updating coin amounts:', error);
      }
    }



    // Function to filter coins based on search criteria
    function filterCoins() {
      const searchInput = document.getElementById('searchInput');
      const maxPriceInput = document.getElementById('maxPriceInput');
      const recommendedInput = document.getElementById('recommendedInput');
      const altCoinInput = document.getElementById('altCoinInput');
      const proofOfWorkInput = document.getElementById('proofOfWorkInput');

      const coins = Array.from(document.getElementById('coinTableBody').getElementsByTagName('tr'));

      coins.forEach((coin) => {
        const coinName = coin.children[1].innerText;
        const price = parseFloat(coin.children[2].innerText);
        const recommended = coin.children[3].innerText === 'true';
        const altCoin = coin.children[4].innerText === 'true';
        const proofOfWork = coin.children[5].innerText === 'true';

        coin.style.display = '';

        if (searchInput.value && !coinName.toLowerCase().includes(searchInput.value.toLowerCase())) {
          coin.style.display = 'none';
        }

        if (maxPriceInput.value && price > parseFloat(maxPriceInput.value)) {
          coin.style.display = 'none';
        }

        if (recommendedInput.checked && !recommended) {
          coin.style.display = 'none';
        }

        if (altCoinInput.checked && !altCoin) {
          coin.style.display = 'none';
        }

        if (proofOfWorkInput.checked && !proofOfWork) {
          coin.style.display = 'none';
        }
      });
    }

    // Fetch coins when the page loads
    fetchCoins();
  </script>
</body>

</html>