body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: linear-gradient(to top left, #0f1113, #41464d, #161717);
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
    color: white;
}
form {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.result {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
}